<div class="mb-3">
  <article class="post">
    <div class="title">
      <a class="text-white fs-3 text-decoration-none" href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{format_url post_url}})</span>
      <p>{{post_text}}</p>
    </div>
    <div class="meta">
      Posted by {{user.username}} on
      {{format_date created_at}}
      |
      <a class="text-white" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </article>
</div>